body {
    background-color: #212121;
    color: whitesmoke;
}

#container {
    display: flex;
    flex-wrap: nowrap;
}

.images {
    border: 1px solid white;
}

#link {
    color: #AFD2E9;
}

.steps {
    margin-right: 40px;
}

.arrows {
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: none;

    -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
}

#arrow1 {
    left: 200px;
}

#arrow2 {
    left: 500px;
}

#arrow3 {
    left: 820px;
}

#arrow4 {
    left: 1130px;
}

#arrow5 {
    left: 1430px;
}

#icon {
    width: 200px;
    margin-left: 25px;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: #212121;
}

::-webkit-scrollbar-thumb:horizontal {
    background: rebeccapurple;
    border-radius: 10px;
}