<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>

    <link rel="stylesheet" href="../styles/help.css">
</head>

<body>

    <div>
        <div id="container">
            <div class="steps">
                <h1>Step 1</h1>
                <h3>Choose a username</h3>
                <p>The username is what is shown to the others on the same room and it doesn't have to be unique</p>
                <br>
                <img src="../assets/step1.png" class="images" alt="">
            </div>
            
            <img src="../assets/arrow.png" class="arrows" id="arrow1" alt="">

            <div class="steps">
                <h1>Step 2</h1>
                <h3>Create room / Enter room</h3>
                <p>In this step, you either create a room or enter in another's room</p>
                <br>
                <img src="../assets/step2.png" class="images" alt="">
            </div>

            <img src="../assets/arrow.png" class="arrows" id="arrow2" alt="">

            <div class="steps">
                <h1>Step 3 (create)</h1>
                <h3>Share the code with your friends</h3>
                <p>Copy the room's code and share it with your friends so that they can watch together with you</p>
                <br>
                <img src="../assets/step3-create.png" class="images" alt="">
            </div>
            
            <img src="../assets/arrow.png" class="arrows" id="arrow3" alt="">

            <div class="steps">
                <h1>Step 3 (enter)</h1>
                <h3>Enter your friends code</h3>
                <p>Paste the code your friend sent you</p>
                <br>
                <br>
                <img src="../assets/step3-enter.png" class="images" alt="">
            </div>

            <img src="../assets/arrow.png" class="arrows" id="arrow4" alt="">

            <div class="steps">
                <h1>Step 4</h1>
                <h3>Enter the same website</h3>
                <p>Either click the <a id="link" href="/">link</a> next to your friend's name or enter it manually</p>
                <br>
                <img src="../assets/step4.png" class="images" alt="">
            </div>

            <img src="../assets/arrow.png" class="arrows" id="arrow5" alt="">

            <div class="steps">
                <h1>Finished!</h1>
                <h3><nobr>Now your video players will be synced</nobr></h3>
                <p>Everytime any of you pause, play or jump the video, this will be reflected on everyone else's video player as well</p>
                <br>
                <img src="../assets/icon128.png" id="icon" alt="">
            </div>
        </div>
    </div>

    <script src="../help.js"></script>
</body>

</html>