<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch Together</title>

    <link rel="stylesheet" href="../styles/popup.css">
</head>
<body>
    <div id="container">
        <input type="text" id="nameInput" class="form-control bg-dark text-white" style="display: block;" placeholder="Username...">
        <button id="startBtn" class="btn btn-primary" style="display: block;">Connect</button>
        <button id="createRoomBtn" class="btn btn-primary" style="display: none;">Create Room</button>
        <button id="enterRoomBtn" class="btn btn-secondary" style="display: none;">Enter Room</button>
    </div>
    <script src="../popup.js"></script>
</body>
</html>